[BAIDU_OCR]
# BAIDU_OCR OCR Configuration
# NO quote needed around value
# Rename this file as secret.ini after modification
APP_ID = <YOUR_APP_ID>
API_KEY = <YOUR_API_KEY>
SECRET_KEY = <YOUR_SECRET_KEY>
